.ticketContainer {
    user-select: none;
    width: 100%;
    height: 100vh;
    background-image: url("/public/bg2.png");
    position: relative;
}

.heading {
    width: 80%;
    position: absolute;
    left: 50%;
    top: -8%;
    transform: translate(-50%, 10%);
}

.inputBox {
    position: absolute;
    width: 70%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.boxText {
    width: 15%;
    margin: auto 20px;
    font-size: 60px;
    color: #931c1c;
}

.input {
    margin: auto 20px;
    width: 75%;
    height: 15%;
    border: 2px solid #931c1c;
    font-size: 30px;
}

.submit {
    position: absolute;
    font-size: 20px;
    color: #e3bc05 ;
    width: 200px;
    height: 50px;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

.submit img {
    position: absolute;
    top: -100%;
    width: 100%;
}

.TicketDetail {
    position: absolute;
    bottom: 20px;
    left: 50%;
    height: 60%;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scroll-behavior: smooth;
    
    margin: 0 auto;
    /* background-color: #fff; */
    padding: 10px;
}

.Ticket {
    width: 90%;
    margin: 10px auto;
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.ticketImg {
    width: 90%;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.parentBtn {
    display: flex;
    justify-content: center;
    background-color: #e3bc05;
    color: #931c1c;
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    font-size: 20px;
    user-select: none;
}

.click {
    position: absolute;
    top: -18px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
}

.parentBtn a {
    display: none;
}
/* 0343411526 */
.icon {
    margin: 0 5px;
}

.text {
    margin-right: 5px;
}

@media screen and (max-width: 1200px) {
    .heading {
        width: 80%;
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, 20%);
    }
    .TicketDetail {
        height: 70%;
    }
    /* .Ticket {
        padding-bottom: 150px;
    }

    .ticketImg {
        width: 100%;
    }

    .btn {
        bottom: 0;
        top: auto;
        left: 50%;
        right: auto;
        transform: translate(-50%, -10%);
    } */
  }

  @media screen and (max-width: 1300px) {
    .Ticket {
        padding-bottom: 120px;
    }

    .ticketImg {
        width: 90%;
        margin: auto;
    }

    .btn {
        bottom: -0;
        top: auto;
        left: 50%;
        right: auto;
        transform: translate(-50%, 0%);
    }
  }

  @media screen and (max-width: 1660px) {
    .heading {
        top: -5%;
    }
    .TicketDetail {
        width: 100%;
    }

    .Ticket {
        width: 98%;
    }
  }

  @media screen and (max-width: 700px) {
    .inputBox {
        height: 30%;
        width: 90%;
    }

    .boxText {
        margin: 50px 20px;
        width: 20%;
        height: fit-content;
    }

    .input {
        margin: 40px 20px;
        width: 80%;
        height: 18%;
    }

    .heading {
        width: 90%;
        top: 5%;
    }


  }


@media screen and (max-height: 740px) {
    .ticketHeading {
        top: -15%;
        
    }

    .heading {
        width: 55%;
    }

    .heading.small {
        width: 90%;
    }

    .TicketDetail {
        width: 80%;
    }

    
  }

  @media screen and (max-height: 600px) {
    .inputBox {
        top: 70%;
        height: 45%;
    }

    .heading {
        width: 40%;
    }
    .heading.small {
        width: 90%;
    }


    .TicketDetail {
        width: 70%;
    }
  }