*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
#my_iframe {
  display: none;
}
.App {
  text-align: center;
  background-image: url('/public/BG.png');
  width: 100vw;
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.silverHeading {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.heading {
  position: absolute;
  width: 50%;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  position: absolute;
  width: 90%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  position: absolute;
  bottom: 18%;
  right: 8%;
  background-color: white;
  width: 150px;
  height: 150px;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.button div {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: red;
  margin: auto;
}

.wrapper {
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  left: 0;
  width: 100%;
  height: 30%;
}

.box {
  width: 10%;
  height: 100%;
  border-radius: 10%;
  margin: 0 5px;
  background-color: white;
  display: flex;
}

.box p{
  display: block;
  margin: auto;
  font-size: 180px;
  user-select: none !important;
}

.options {
  position: absolute;
  z-index: 5;
}

@media screen and (max-width: 1520px) {
  .button {
    right: 3%;
  }
}

@media screen and (max-height: 700px) {
  .button {
    bottom: 8%;
  }
  .box p{
    font-size: 9vw;
  }
}

@media screen and (max-width: 1050px) {
  .box p{
    font-size: 10vw;
  }

  .button {
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
  }
}

